.aa{
  
}
.leaflet-container {
  text-align: justify;
  position: absolute;
  width: 100vw;
  height:100vh;
  z-index: -1;}
p {
  position: absolute;
  margin-top:1%;
  margin-left:41w;
  margin-right:38vw;
  
  padding: 0.2rem;
  font-size: 2.2vw;
  color: white;
  background-color: darkslategray;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  border-radius: 0.3rem;
  display: inline-block;
}
.leaflet-popup-tip {
  display:none;
}
.leaflet-tooltip{
  background-color:darkslategray ;}
.leaflet-popup-content-wrapper {
  background-color: darkslategray;
  border-color: white;
}
.leaflet-popup.tip{background-color: white;}
.poup-text{
  
  display: inline-block;
  color:white;
  border-color: white;
  
  
  
}


