
.aa{
  
}
.leaflet-container {
  text-align: justify;
  position: absolute;
  width: 100vw;
  height:100vh;
  z-index: -1;}
p {
  position: absolute;
  margin-top:1%;
  margin-left:39vw;
  margin-right:37vw;
  
  padding: 0.3rem;
  font-size: 2.5vw;
  color: white;
  background-color: blueviolet;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  border-radius: 0.3rem;
  display: inline-block;
}
