.aa{
  
}
.leaflet-container {
  text-align: justify;
  position: absolute;
  width: 100vw;
  height:100vh;
  z-index: -1;}
p {
  position: absolute;
  margin-top:1%;
  margin-left:42vw;
  margin-right:39vw;
  border-style: double;
  padding: 0.6vw;
  font-size: 2vw;
  color: white;
  background-color: darkslategray;
  -moz-border-radius: 0.5vw;
  -webkit-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  border-radius: 1.2vw;
  display: inline-block;
  border-width: 0.5vw;
   
}
.leaflet-popup-tip {
  display:none;
}
.leaflet-tooltip{
  background-color:darkslategray ;}
.leaflet-popup-content-wrapper {
  background-color: darkslategray;
  border-color: white;
  border-style: double;
  border-width: 0.5vw;
}
.leaflet-popup.tip{background-color: white;}
.poup-text{
  
  display: inline-block;
  
  color: white;
  background-color:  darkslategray;

  
  
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}




#customers tr:hover {background-color: black; }

